/* TODO: Add typography */
body {
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(75, 75, 75);
  box-shadow: 0 0 15px 5px rgba(44, 82, 100, .75);
  border-radius: 20px;
  width: 90%;
  max-width: 960px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 25px;
}

.lesson {
  background-color: #fffacd;
}

* {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h2 #fact-1 {
  margin-bottom: 25px;
}

/* Fact 1 */
#fact-1 {
  font-weight: bolder;
  float: right;
}

/* TODO: Fact 2 */
#fact-2 {
  font-size: 24px;
}

/* TODO: Fact 3 */
#fact-3 {
  line-height: 50px;
}